<!DOCTYPE html>
<html lang="ko">

<head>

<meta charset="UTF-8">

<title>회원가입</title>

<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<div class="card">

<h1>📝 회원가입</h1>

<input
id="username"
placeholder="아이디">

<input
id="password"
type="password"
placeholder="비밀번호">

<input
id="password2"
type="password"
placeholder="비밀번호 확인">

<button onclick="signup()">
회원가입
</button>

<p id="login-result"></p>

<hr>

<button onclick="location.href='/login-page'">
로그인으로
</button>

</div>

</div>

<script src="/static/script.js"></script>

</body>

</html>